DEPLOYMENT_URL=https://friggemannmichael.github.io
DEPLOYMENT_BRANCH=main
BASE_URL=/my-Blog/
GITHUB_ORG=FriggemannMichael
GITHUB_PROJECT=my-Blog
GIT_REPOSITORY_URL=https://github.com/FriggemannMichael/my-Blog
